body {
  margin: 0 auto;
}

h2 {
  position: relative;
  top: -20px;
  font-size: 24px;
  color: black;
  text-align: center;
}

ul {
  position: relative;
  left: -20px;
  top: -20px;
}

p {
  position: relative;
  top: -20px;
}

img {
  position: relative;
  left: 10px;
  width: 80%;
  height: 80%;
  margin: 0 auto;

}

.container2 {
  display: inline-block;
  float: left;
  height: 250px;
  width: 230px;
  background-color: rgba(0, 0, 255, .2);
  border: 10px solid white;
  border-radius: 5px;
  margin: 10px auto;
  padding: 30px;
}

.filler {
  background-color: rgba(10, 0, 255, .5);
}

.p1 {
  background: url("http://cantab2013.github.io/assets/1.jpg");
  background-size: cover;
}

.p2 {
  background: url("http://cantab2013.github.io/assets/2.jpg");
  background-size: cover;
}

.p3 {
  background: url("http://cantab2013.github.io/assets/3.jpg");
  background-size: cover;
}

.p1 span {
  position: relative;
  left: 10px;
  bottom: 15px;
  font-family: cursive;
  font-size: 20px;
  color: black;
}

.p2 span {
  position: relative;
  left: 10px;
  bottom: 15px;
  font-family: cursive;
  font-size: 20px;
  color: white;
}

.p3 span {
  position: relative;
  left: 10px;
  bottom: 15px;
  font-family: cursive;
  font-size: 20px;
  color: black;
}
